LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT=
LANGSMITH_TRACING=false

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

TAVILY_API_KEY=

DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=

EMBEDDER_HOST=
