@import "tailwindcss";

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div.llm_message * {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
